@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 0 0 12;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0 71;
 
    --accent: 0, 0%, 22% ;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1368px;
  margin: auto;
  /* background-color: #181818; */
  color: white;
  font-family: "Inter", sans-serif;

  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(44, 30, 52) 100%);
}

.truncated-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* max-height: 2.5em; */
  text-overflow: ellipsis;
}

.truncated-status {
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  /* max-height: 2.5em; */
  text-overflow: ellipsis;
}

.status-bg{
  background: rgb(255,204,209);
  background: linear-gradient(95deg, rgba(255,204,209,1) 0%, rgba(251,238,204,1) 50%, rgba(204,231,225,1) 100%, rgba(0,0,0,1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text{
  /* font-size: 72px; */
  font-weight: 700;
  background: linear-gradient(95deg, rgba(255,204,209,1) 0%, rgba(251,238,204,1) 50%, rgba(204,231,225,1) 100%, rgba(0,0,0,1));

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.masonry-col{
  width: auto !important;
}

@media screen and (max-width: 640px) {
  .masonry-col{
    width: 100% !important;
  }
}

.status-input::placeholder {
  color: rgb(77, 77, 77);
  /* opacity: 0.9;  */
}

input::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(77, 77, 77);
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  mask-image: linear-gradient(
    to right,
    /* hsl(0 0% 0% / 0), */
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

/* Scrollbar styling */

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 
body::-webkit-scrollbar-thumb {
  /* background-color: darkgrey; */
  background-color: rgb(194, 194, 194);
  border-radius: 10px;
  /* outline: 1px solid slategrey; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
